@*@model IEnumerable<ApplicationUser>*@
@model ApplicationUser
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Make Appointment</h4>
<h4>Leave your appointment with teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="Description"></label><br />
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="submit" asp-action="Appointment" value="Add Reservation" class="btn btn-default">
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
